<%- include('../../partials/head.ejs') %>
    <%- include('../../partials/navbar.ejs') %>
        <div class="container">
            <hr>
            <h3>Categorias</h3>
            <a href="" class="btn btn-success">Novo</a>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Slug</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <% category.forEach(category=> { %>
                        <tr>
                            <th>
                                <%= category.id %>
                            </th>
                            <th>
                                <%= category.title %>
                            </th>
                            <th>
                                <%= category.slug %>
                            </th>
                            <th>
                                <a class="btn btn-warning">Editar</a>
                                <a class="btn btn-danger">Deletar</a>
                            </th>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <%- include('../../partials/footer.ejs') %>