<%- include('../../partials/head.ejs') %>
    <%- include('../../partials/navbar.ejs') %>
        <div class="container">
            <hr>
            <h3>Categorias</h3>
            <a href="/admin/category/new" class="btn btn-success">Novo</a>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Slug</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <% category.forEach(category=> { %>
                        <tr>
                            <th>
                                <%= category.id %>
                            </th>
                            <th>
                                <%= category.title %>
                            </th>
                            <th>
                                <%= category.slug %>
                            </th>
                            <th>
                                <a href="/admin/category/editCategory/<%= category.id %>"
                                    class="btn btn-warning">Editar</a href="/admin/category/editCategory/:id">
                                <form action="/admin/category/deleteCategory" method="POST" style="display: inline;"
                                    onsubmit="confirmMsg(event, this, '<%= category.title %>')">
                                    <input type="hidden" name="id" value="<%= category.id %>">
                                    <button class="btn btn-danger">Deletar</button>
                                </form>
                            </th>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

        <script>
            function confirmMsg(event, form, categoryName) {
                event.preventDefault();
                let decision = window.confirm(`Você realmente quer deletar: ${categoryName}?`);
                if (decision) {
                    form.submit();
                }
            }
        </script>
        <%- include('../../partials/footer.ejs') %>